.watchlist {
    padding: 20px;
  }
  
/*  .watchlist-items {
    display: -webkit-box;
    flex-wrap: wrap;
  }
  
  .watchlist-item {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
  }
  
  .watchlist-poster {
    width: 100%;
    height: auto;
  }
  
  .watchlist-info {
    padding: 10px;
    text-align: center;
  }
  
  .watchlist-info h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .watchlist-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .watchlist-info button:hover {
    background-color: #0056b3;
  }
   */