/* .rating-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .rating-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .rating-poster {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .rating-info {
    text-align: center;
  }
  
  .star-rating {
    margin-top: 10px;
  }
  
  .star {
    color: #ffcc00;
    font-size: 24px;
  }
  
  .filled {
    color: #ffcc00;
  }
   */